<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
           
    <bean id="milton.resource.factory" class="com.ettrema.console.ConsoleResourceFactory">
        <constructor-arg ref="filesystem.resource.factory" />
        <constructor-arg value="/webdav-fs/console" />
        <constructor-arg value="/webdav-fs" /> <!-- secure resource = host root -->
        <constructor-arg>
            <list>
                <bean class="com.ettrema.console.LsFactory" />
                <bean class="com.ettrema.console.CdFactory" />
                <bean class="com.ettrema.console.RmFactory" />
                <bean class="com.ettrema.console.HelpFactory" />
                <bean class="com.ettrema.console.CpFactory" />
            </list>
        </constructor-arg>
    </bean>

    <bean id="filesystem.resource.factory" class="com.ettrema.http.fs.FileSystemResourceFactory">
        <property name="securityManager" ref="milton.fs.security.manager" />
        <property name="lockManager" ref="milton.fs.lock.manager" />
        <property name="maxAgeSeconds" value="3600" />
        <!-- the default root is System property user.home  -->
        <!-- enable the property below to set the root elsewhere -->
        <!--
        <property name="root" value="/www/webs" />
        -->
    </bean>

<!--
    <bean id="milton.fs.security.manager" class="com.ettrema.http.fs.NullSecurityManager" >
        <property name="realm" value="aRealm" />
    </bean>
-->

    <bean id="milton.fs.security.manager" class="com.ettrema.http.fs.SimpleSecurityManager" >
        <property name="realm" value="aRealm" />
        <property name="nameAndPasswords">
            <map>
                <entry key="me" value="pwd"/>
                <entry key="user1" value="pwd1"/>
                <entry key="user2" value="pwd2"/>
            </map>
        </property>
    </bean>

    <bean id="milton.fs.lock.manager" class="com.ettrema.http.fs.MemoryLockManager" />
<!--
    <bean id="milton.response.handler" class="com.bradmcevoy.http.MsOfficeResponseHandler"/>
-->

    <bean id="milton.response.handler" class="com.bradmcevoy.http.DefaultResponseHandler">
        <constructor-arg value="1,2" />  
    </bean>

    <bean id="milton.response.handler.compressing" class="com.bradmcevoy.http.CompressingResponseHandler">
        <constructor-arg ref="milton.response.handler" />
    </bean>


    <bean id="milton.http.manager" class="com.bradmcevoy.http.HttpManager">
        <constructor-arg ref="milton.resource.factory" />
        <constructor-arg ref="milton.response.handler.compressing" />
<!--
        <property name="filters">
            <list>
                <ref bean="milton.debug.filter" />
            </list>
        </property>
-->
    </bean>


    <bean id="milton.debug.filter" class="com.bradmcevoy.http.DebugFilter" />


</beans>